<div class="marquee">
    <div class="marquee-content">
        <embed src="../assets/images/deco/Frame when.svg" type="">
        <embed src="../assets/images/deco/Frame when.svg" type="">
        <embed src="../assets/images/deco/Frame when.svg" type="">
    </div>
</div>
<div class="marquee">
    <div class="marquee-content">
        <embed src="../assets/images/deco/Frame time.svg" type="">
        <embed src="../assets/images/deco/Frame time.svg" type="">
        <embed src="../assets/images/deco/Frame time.svg" type="">
    </div>
</div>
<div class="marquee">
    <div class="marquee-content">
        <embed src="../assets/images/deco/Frame where.svg" type="">
        <embed src="../assets/images/deco/Frame where.svg" type="">
        <embed src="../assets/images/deco/Frame where.svg" type="">
    </div>
</div>