<footer class="footer">
    <div class="container">
        <div class="footer-header d-flex mb-lg-19 mb-16">
            <div class="footer-logo">
                <img src="/assets/images/Logo.png" alt="logo" width="304px">
            </div>
            <div class="vertical-text ms-auto mt-lg-12 fs-2 fw-bold">
                <p>快樂齊分享，美味再出發</p>
            </div>
        </div>
            <nav class="footer-nav d-flex row pb-lg-12 pb-14">
                <div class="footer-nav__category col-lg-2 col-9">
                    <a class="mb-4 text-gray-700 fs-6">認識餘味尋蹤</a>
                    <ul class="d-flex flex-column gap-4 fs-4 fw-medium">
                        <li><a href="#">關於我們</a></li>
                        <li><a href="#">人才招募</a></li>
                        <li><a href="#">活動提案</a></li>
                        <li><a href="#">連絡我們</a></li>
                    </ul>
                </div>
                <div class="footer-nav__category col-lg-2 col-9">
                    <a class="mb-4 text-gray-700 fs-6">常見問題 FAQ</a>
                    <ul class="d-flex flex-column gap-4 fs-4 fw-medium">
                        <li><a href="#">如何分享美食</a></li>
                        <li><a href="#">如何領取美食</a></li>
                        <li><a href="#">取消預約美食</a></li>
                        <li><a href="#">忘記密碼</a></li>
                    </ul>
                </div>
                <div class="footer-nav__category col-lg-2 col-9">
                    <a class="mb-4 text-gray-700 fs-6">會員中心</a>
                    <ul class="d-flex flex-column gap-4 fs-4 fw-medium">
                        <li><a href="#">註冊/登入</a></li>
                        <li><a href="#">我的帳戶</a></li>
                        <li><a href="#">我要分享</a></li>
                        <li><a href="#">我的收藏</a></li>
                    </ul>
                </div>
                <div class="footer-social d-flex flex-lg-row flex-column justify-content-end col-lg-2 col-3 ms-auto mt-lg-auto gap-2">
                    <a href="#" class="p-2">
                        <img src="/assets/images/icon/twitter.svg" alt="twitter">
                    </a>
                    <a href="#" class="p-2">
                        <img src="/assets/images/icon/instagram.svg" alt="instagram">
                    </a>
                    <a href="#" class="p-2">
                        <img src="/assets/images/icon/facebook.svg" alt="facebook">
                    </a>
                    <a href="#" class="p-2">
                        <img src="/assets/images/icon/hugeicons_line.svg" alt="line">
                    </a>
                </div>
            </nav>

    </div>
    <div class="footer-bottom border-top-lg-0 border-top">
        <div class="container">
            <div class="d-flex justify-content-between py-7 border-top-lg">
                <p>@ 2024 Flavor Trail</p>
                <ul class="d-flex gap-7">
                    <li><a href="#">網站使用需知</a></li>
                    <li><a href="#">隱私權聲明</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
