<!-- 申請通知 & 回覆申請通知-->
<div class="modal fade" id="notifyApplyModal" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header border-0 p-lg-7 py-7 px-4">
          <h1 class="modal-title fw-bolder lh-xs" id="ModalToggleLabel">申請通知</h1>
          <img src="../../assets/images/icon/x.svg" alt="" class="ms-auto" data-bs-dismiss="modal" aria-label="Close">
        </div>
        <div class="modal-body p-lg-7 py-7 px-4">
            <div class="d-flex align-items-center">
                <img src="../../assets/images/icon/path.svg" alt="">
                <h4 class="fw-bold fs-5 fs-lg-4 ps-2">我喜歡你的食物，我想要領取！</h4>
            </div>
            <h6>Oreo:</h6>
            <p>我看到你分享的食物，感覺非常美味！我想要領取一些，請問我可以過去拿嗎？非常感謝你的分享！😊<br>
                聯絡電話：0912345678<br>
                我將在 14:00 時準時抵達</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">拒絕</button>
            <button class="btn btn-primary" data-bs-target="#notifyApplyModal2" data-bs-toggle="modal" data-bs-dismiss="modal">同意</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="notifyApplyModal2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header border-0 p-lg-7 py-7 px-4">
            <h1 class="modal-title fw-bolder lh-xs" id="ModalToggleLabel">回覆申請通知</h1>
            <img src="../../assets/images/icon/x.svg" alt="" class="ms-auto" data-bs-dismiss="modal" aria-label="Close">
        </div>
        <div class="modal-body">
          Hide this modal and show the first with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">送出</button>
        </div>
      </div>
    </div>
  </div>
<!-- 領取通知 -->
  <div class="modal fade" id="notifyClaimModal" tabindex="-1" aria-labelledby="notifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header border-0 p-lg-7 py-7 px-4">
            <h1 class="modal-title fw-bolder lh-xs" id="ModalToggleLabel">領取通知</h1>
            <img src="../../assets/images/icon/x.svg" alt="" class="ms-auto" data-bs-dismiss="modal" aria-label="Close">
          </div>
          <div class="modal-body p-lg-7 py-7 px-4">
            <div class="d-flex align-items-center">
                <img src="../../assets/images/icon/path.svg" alt="">
                <h4 class="fw-bold fs-5 fs-lg-4 ps-2">我已經準備好囉～<br>
                    快來領取你的食物吧！</h4>
            </div>
            <h6>Logi:</h6>
            <p>嗨！感謝你對我的食物分享活動感興趣，你所預訂的食物可以領取了！<br>
                領取時間：今天下午2點至4點<br>
                領取地點：台北市信義區XXXXXXX<br>
                聯繫方式：0912345678<br>
                請記得帶上你的環保餐具，享受這美味的食物！如果有任何問題，請隨時聯繫我～～</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">馬上領取</button>
        </div>
      </div>
    </div>
  </div>