@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


@import "bootstrap/scss/functions";
@import './helpers/variables';

@import './helpers/custom-colors.scss';
@import "bootstrap/scss/bootstrap";

@import './helpers/utils.scss';
@import './base/base';
@import './components/button.scss';
@import './components/dropdown.scss';
@import './components/card.scss';
@import './components/navbar.scss';
@import './components/marquee';
@import './components/allnotifylist';
@import './components/postCard.scss';
@import './components/foodtalk';
@import './components/timePicker.scss';
@import './components/foodCard.scss';
@import './components/inviteBtn.scss';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './layout/account-nav.scss';

@import './pages/index.scss';
@import './pages/eventAbout.scss';
@import './pages/event.scss';
@import './pages/event-banner.scss';
