.foodtalk-cover {
    .foodtalk-back {
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
    }

    &:hover {
        .foodtalk-back {
            opacity: 1;
            visibility: visible;
            transition: opacity .2s ease;
        }
    }

}

.foodtalk-img {
    height: 416px;
    overflow: hidden;

    img {
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .zongzi {
        object-position: left top;
    }
}

.display-lg-1 {
    @media (min-width:768px) {
        font-size: 80px;
    }

    span {
        margin-left: 310px;
    }
}

.talk-talk {
    top: 70px;
    left: 78px;
    width: 189px;
    height: 138px;

    @media (min-width:768px) {
        top: -80px;
        left: 430px;
        width: 288px;
        height: 218px;
    }
}