.img {
    max-width: 100%;
}

.foodtalk-cover {
    .foodtalk-back {
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
    }

    &:hover {
        .foodtalk-back {
            opacity: 1;
            visibility: visible;
            transition: opacity .2s ease;
        }
    }
}