.foodtalk-cover {
    .foodtalk-back {
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
    }

    &:hover {
        .foodtalk-back {
            opacity: 1;
            visibility: visible;
            transition: opacity .2s ease;
        }
    }

}

.foodtalk-img {
    height: 416px;
    overflow: hidden;

    img {
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .zongzi {
        object-position: left top;
    }
}