<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>有問題找 dodo</title>
</head>
<body>
  
  <div class="m-5">
    <!-- 地理位置 - 複製開始 -->
    <div class="dropdown">
      <button class="btn text-gray-900 py-2 px-5 dropdown-btn bg-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <p class="lh-base">地理位置
          <img src="../assets/images/icon/chevron-down.svg" alt="chevron-down" class="ps-5">
          <img src="../assets/images/icon/chevron-right.svg" alt="" class="d-none">
        </p>
      </button>
      <ul class="dropdown-menu dropdown-shadows bg-gray-200" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item py-2 px-5" href="#">臺北市</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">基隆市</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">新北市</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">宜蘭縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">新竹市</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">新竹縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">桃園市</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">苗栗縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">台中市</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">彰化縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">南投縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">嘉義市</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">嘉義縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">雲林縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">台南市</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">高雄市</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">澎湖縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">金門縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">屏東縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">台東縣</a></li>
        <li><a class="dropdown-item py-2 px-5" href="#">花蓮縣</a></li>
      </ul>
    </div>
    <!-- 複製結束 -->
    <!-- 美食類型 - 複製開始 -->
    
    <!-- 複製結束 -->
  </div>
  <script type="module" src="../main.js"></script>
</body>

</html>