<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>有問題找 dodo</title>
</head>
<body>
  <!-- 地理位置 - 複製開始 -->
  <div class="dropdown">
    <button class="btn btn-white dropdown-toggle text-gray-900 py-2 px-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      地理位置
    </button>
    <ul class="dropdown-menu bg-gray-200 shadows" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item py-2 px-5" href="#">Action</a></li>
      <li><a class="dropdown-item py-2 px-5" href="#">Another action</a></li>
      <li><a class="dropdown-item py-2 px-5" href="#">Something else here</a></li>
    </ul>
  </div>
  <!-- 複製結束 -->

  <!-- 美食類型 - 複製開始 -->
  
  <!-- 複製結束 -->
  <script type="module" src="../main.js"></script>
</body>

</html>