<!DOCTYPE html>
<html lang="zh-hant">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>foodCard</title>
</head>

<body>
    deco-pink
    deco-blue
    h2 -- fs-3、fw-bold、p-7
    *mobil 多餘的字要變...
    icon -- d-flex,jcc,aic
<div class="container">
    <div class="foodCard mx-auto bg-deco-blue border border-deco-pink text-deco-pink">
        <div class="foodCard-title d-flex justify-content-center align-items-center p-7">

        </div>
        <p class="foodCard-text p-7">
            嗨大家!今天有一大盤剛出爐的義大利麵,完全不用擔心,大家都可以來拿!🍝 食物超新鮮、好粗!我會在下午 2 點到 4 點之間待在家裡,歡迎來取!別忘了帶上你們的好心情~ 
        </p>
    </div>
</div>

    <script type="module" src="../main.js"></script>
</body>

</html>