<!-- 有問題找 dodo -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="foodtalk-bg bg-primary">
                <img src="https://images.unsplash.com/photo-1658706117692-f80a370adde3?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="foodtalk">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias et id, assumenda quia laboriosam incidunt, asperiores odio repudiandae sint dolorum aut provident, amet eaque aperiam modi. Officia inventore voluptatibus eum.</p>
            </div>
        </div>
    </div>
</div>