.navbar {
    background-color: rgba(238, 238, 238, 0.70);
    backdrop-filter: blur(25px);

    &-collapse {
        flex-grow: 0;
    }

    .nav-link {
        font-weight: 700;
        color: black;
        line-height: 120%;
    }
   
    .nav-item {
        height: 40px;
    }

    .nav-item-btn {
        transition: background-color 0.1s ease, color 0.1s ease;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}
#navbar {
    transition: top 0.3s;
}