.navbar {
    background-color: rgba(238, 238, 238, 0.70);
    backdrop-filter: blur(25px);
    transition: top 0.3s ease-in-out;

    &-collapse {
        flex-grow: 0;
    }

    .nav-link {
        font-weight: 700;
        color: black;
        line-height: 120%;
    }
   
    .nav-item {
        height: 40px;
    }

    .nav-item-btn {
        transition: background-color 0.1s ease, color 0.1s ease;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}

.search {
    &-bar {
        background-color: rgba(238, 238, 238, 0.70);
        backdrop-filter: blur(25px);
    }

    .input-group {
        max-width: 590px;
        height: 40px;
        background-color: white;

        &-text {
            border: none;
            background-color: transparent;
        }
    
        .form-control {
            border: none;
            padding: 8px 16px;
            &::placeholder {
                color: $gray-400;
                line-height: 150%; 
            }
        }

        #search:focus {
            outline: none;
            box-shadow: none;
            border-color: transparent;
        }
    }

    .dropdown {
        display: flex;
        
    }
}