<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flavor Trail - Notifications</title>
</head>
<body>
  <%- include('./layout/account-nav.ejs', {currentTitle: '全部通知',page: 'account-notifications'}); %>
  <div class="container">
    <h1 class="fw-bolder text-black mb-7 d-none d-lg-block">全部通知(這裡會換 mtt 的版本)</h1>
  </div>
  <%- include('./layout/notifyList'); -%>
  <%- include('./layout/footer'); -%>
  <script type="module" src="../main.js"></script>
</body>

</html>