<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flavor Trail - My Posts</title>
</head>
<body>
  <%- include('./layout/header'); -%>
  <%- include('./layout/account-nav.ejs', {currentTitle: '我的發文',page: 'account-posts'}); %>

  <h2>我的發文頁面</h2>

  <%- include('./layout/footer'); -%>
  <script type="module" src="../main.js"></script>
</body>

</html>